#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    overflow-y: auto; //요소의 세로 영역을 벗어나면 스크롤바가 자동 생성(heigth가 100%일때)
    z-index: 10000;
    border-right: 1px solid var(--black100);
}
#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
}
#footer {
    text-align: center;
    background-color: var(--black100);
    border-top: 1px solid var(--black100);
    padding: 20px;
    margin-left: 260px;
    width: calc(100% - 260px);
    font-size: 0.8rem;
    color: var(--black400);
   
}